<div class="blog-container">
  <div class="card-header col-md-12 text-center">
  </div>
  {{#each blogges as |blog|}}
  <div class="blog col-md-4">
    <h1>{{blog.blog_title}}</h1>
    <p>
      {{blog.description}}
      
    </p>
  </div>
  {{/each}}
  
</div>


