<div class="blog-container">
  <div class="card-header col-md-12 text-center">
  </div>
  {{#each users as |user|}}
  <div class="blog col-md-4">
    <p>
      {{user.id}}.
      {{user.name}}
      
    </p>
  </div>
  {{/each}}
  
  <div class="add-blog">
    <h2>
     Add a new Blog
    </h2>
    <form class="new-blog-form">
      <label for="blog_title">
        Blog Name:
      </label>
      <br />
      <textarea id="blog_title" name="blog_title" rows="2" cols="30">
      {{blog_title}}
    </textarea>
      <br />
      <label for="description">
        Description:
      </label>
      <br />
      <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
      <br />
     
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>

<script src="./js/add-blog.js"></script>
